@mixin addBorder() {
  border: 1px solid black;
}

$timeContainerTotalHeight: 70px;
$dayCollumWidth: 150px;
$timeDivWidth: 41px;

#wrapper{
  padding-top: 20px;
  width: 100%;
  overflow:hidden;
}

.timeDiv {
  height: 100%;
  padding-top: 46px;
  padding-left: 5px;
  float: left;
  position: absolute;
  width: $timeDivWidth;
}

.diaryDiv{
  height: 100%;
  float: left;
  width: 100%;
  //width: calc(100% - 50px);
  text-align: center;

}

#footer{
  padding: 15px;
  width: 100%;
  margin: 0 auto;
  @include addBorder();
}

.prevWeek{
  float: left;
  display: inline;
  cursor: pointer;
}

.nextWeek {
  float: right;
  display: inline;
  cursor: pointer;
}

.yearText {
  display: inline;
}

.timeContainer {
  margin-bottom: $timeContainerTotalHeight - 20;
}

#content {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 41px;
  overflow-x: scroll;
  border-right: 1px solid black;
  border-left: 1px solid black;
  //@include addBorder();

  //Итак, что же это значит:
  width: calc(100% - #{$timeDivWidth * 2}); //в простом режиме вся неделя занимает все место так, чтобы по бокм оставалось
  //одинаковое место (для симметрии) равное ширине блока времени

  //когда же экран совсем маленький
  @media screen and (max-width: 400px) {
    width: calc(100% - #{$timeDivWidth});
  }

  position: absolute;
}

.week {
  width: $dayCollumWidth*7;
  margin: auto;

}

.day {
  height: $timeContainerTotalHeight*25.5;
  width: $dayCollumWidth;
  @include addBorder();
  display: table-cell;
  background-color: white;
  z-index: 1;

}

.dayFooter{
  border-bottom: 1px solid black;
  position: absolute;
  width: $dayCollumWidth - 2;
  overflow: hidden;
  background-color: white;
  z-index: 3;
  top: 21px;
}

.clear {
  clear:both;
  font-size:0;
  overflow:hidden; /* тройной презерватив для IE */
}

.event {
  display: block;
  width: $dayCollumWidth - 10;
  position: absolute;
  background-color: white;
  margin: 0 5px 5px 5px;
  @include addBorder();
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
}

.eventName {
  text-align: center;
  border-bottom: 1px solid black;
  margin:0;
}
.eventTextContent{
  text-align: left;
  margin:0;
  overflow: hidden;
}

.sticky {
  position: fixed;
  top: 0;
}

//========================================================
.popUp-bg {
  position: fixed;
  top: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0.8;
}

.hidden {
  display: none;
}



