@mixin addBorder() {
  border: 1px solid black;
}

$timeContainerTotalHeight: 70px;
$dayCollumWidth: 150px;
$timeDivWidth: 41px;

//Основные блоки

#wrapper{
  padding-top: 20px;
}

.timeDiv {
  height: 100%;
  margin-top: 46px;
  padding-left: 5px;
  float: left;
}

#footer{
  padding: 15px;
  margin: 0;
  @include addBorder();
}

//Содержание футера

.prevWeek{
  float: left;
  cursor: pointer;
}

.nextWeek {
  float: right;
  cursor: pointer;
}

.yearText {
  text-align: center;
  margin: 0;
}

//Содержание блока времени
.timeContainer {
  margin-bottom: $timeContainerTotalHeight - 20;
}

//блок с временем и неделей
#content {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-x: auto;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  //Итак, что же это значит:
  width: calc(100% - #{$timeDivWidth * 2}); //в простом режиме вся неделя занимает все место так, чтобы по бокм оставалось
  //одинаковое место (для симметрии) равное ширине блока времени

  //когда же экран совсем маленький
  @media screen and (max-width: 400px) {
    width: calc(100% - #{$timeDivWidth});
  }


}
//само расписание
.week {
  width: $dayCollumWidth*7+13;
  margin: auto;
}

.hour {
    height: $timeContainerTotalHeight;
    //border-bottom: 1px solid black;
    padding-top: 3px;
}

//один день
.day {
  display: table-cell;
  background-color: white;
  z-index: 1;
  @include addBorder();
}



//дата дня
.dayFooter{
  height: 20px;
  border-bottom: 1px solid black;
  overflow: hidden;
  background-color: white;
  z-index: 3;
  text-align: center;
}

.clear {
  clear:both;
  font-size:0;
  overflow:hidden; /* тройной презерватив для IE */
}

//событие
.event {
  width: $dayCollumWidth;
  background-color: white;
  z-index: 2;
  cursor: pointer;
  padding: 5px;

}

.eventInnerWrapper{
  height: 100%;
  @include addBorder();
}

.hidden {
  visibility: hidden;
}

//название события
.eventName {
  height: 20px;
  text-align: center;
  overflow: hidden;
  border-bottom: 1px solid black;
  margin:0;
}

//описание события
.eventTextContent{
  overflow: hidden;
  height: calc(100% - 20px);
}

//"липкая" дата дня
.sticky {
  position: fixed;
  top: 0;
}

//========================================================

.popUp-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 101;
  background-color: grey;
  opacity: 0.8;
}

.popUpContent {
  width: 400px;
  height: 400px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 131;
  @include addBorder();
  background-color: white;
  opacity: 1;
  overflow: auto;
}




