@mixin addBorder() {
  border: 1px solid black;
}

$timeContainerTotalHeight: 70px;
$dayCollumWidth: 150px;

#wrapper{
  padding-top: 20px;
  width: 100%;
  overflow:hidden;
  @media (max-width: 768px) {
    #wrapper{
      width: 768px;
    }
  }

}

.timeDiv {
  width: 50px;
  height: 100%;
  padding-top: 120px;
  padding-left: 5px;
  float: left;
}

.diaryDiv{
  @include addBorder();
  width: calc(100% - 50px);
  height: 100%;
  float: left;
  text-align: center;
}

#footer{
  padding: 15px;
}

.prevWeek{
  float: left;
  display: inline;

}

.nextWeek {
  float: right;
  display: inline;
}

.yearText {
  display: inline;
}

.timeContainer {
  padding-bottom: $timeContainerTotalHeight - 20;
  margin-bottom: 0;
  position:fixed;
}

#content {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;


}

.week {
  width: $dayCollumWidth*7;
  margin: auto;
}

.day {
  height: $timeContainerTotalHeight*25.5;
  //width: calc(100% / 7 - 5px);
  width: $dayCollumWidth;
  @include addBorder();
  display: table-cell;
  margin-right: 1px;
}

.clear {
  clear:both;
  font-size:0;
  overflow:hidden; /* тройной презерватив для IE */
}

.event {
  display: block;
  width: $dayCollumWidth - 10;
  position: relative;
  margin: 0 5px 5px 5px;
  @include addBorder();
  height: $timeContainerTotalHeight - 5;
  overflow: hidden;
}

.eventName {
  text-align: center;
  border-bottom: 1px solid black;
  margin:0;
}
.eventTextContent{
  text-align: left;
  margin:0;
}




