//
   Created by mrDima on 09.01.2016.
doctype
html(lang='en')
   head
       meta(charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1")
       script(src='public/vendor/angular.min.js')
       script(src='angular/dev/app.min.js')



       link(rel='stylesheet' href='public/vendor/bootstrap/css/bootstrap.min.css')
       link(rel='styleSheet' href='public/css/style.css')
       title diary
   body(ng-app='app')
       div#popUpWrapper.hidden(popup)
       div#wrapper
                div.diaryDiv(ng-controller='mainCtrl')

                    div.row#footer
                        div.col-xs-6
                             button.prevWeek.btn.btn-primary(ng-click='currentDate = getPrevWeek()' ui-sref='prev') Prev week
                        dic.col-xs-6
                            button.nextWeek.btn.btn-primary(ng-click='currentDate = getNextWeek()' ui-sref='next')  Next week
                        div.col-xs-12
                            h1.yearText Year {{year}}
                    div.timeDiv
                        - for (var i=0; i<25; i++)
                            p.timeContainer= i + '.00'
                    div#content(ui-view)










