//
   Created by mrDima on 09.01.2016.
doctype
html(lang='en')
   head
       meta(charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1")
       script(src='public/vendor/angular.min.js')

       script(src='angular/modules/app.js')
       script(src='angular/modules/dataSourse.js')
       script(src='angular/modules/dataManager.js')
       script(src='angular/modules/popUpControl.js')

       script(src='angular/directs/day.js')
       script(src='angular/directs/event.js')
       script(src='angular/directs/week.js')
       script(src='angular/directs/popUpMsg.js')

       script(src='angular/factory/schedule.js')

       script(src='angular/ctrls/mainCtrl.js')
       script(src='angular/ctrls/weekCtrl.js')
       script(src='angular/ctrls/dayCtrl.js')
       script(src='angular/ctrls/eventCtrl.js')
       script(src='angular/ctrls/popUpCtrl.js')


       link(rel='stylesheet' href='public/vendor/bootstrap/css/bootstrap.min.css')
       link(rel='styleSheet' href='public/css/style.css')
       title diary
   body(ng-app='app')
       //div.container-fluid
       //div#popup1(popup)
       div#wrapper
                div.diaryDiv(ng-controller='mainCtrl')

                    div.row#footer
                        div.col-xs-6
                             button.prevWeek.btn.btn-primary Prev week
                        dic.col-xs-6
                            button.nextWeek.btn.btn-primary Next week
                        div.col-xs-12
                            h1.yearText Year {{year}}
                    div.timeDiv
                        - for (var i=0; i<25; i++)
                            p.timeContainer= i + '.00'
                    div#content()
                        div.week(week)








