//
   Created by mrDima on 09.01.2016.
doctype
html(lang='en')
   head
       meta(charset="UTF-8")
       script(src='public/vendor/angular.min.js')

       script(src='angular/modules/app.js')
       script(src='angular/modules/dataSourse.js')
       script(src='angular/modules/dataManager.js')

       script(src='angular/directs/day.js')
       script(src='angular/directs/event.js')
       script(src='angular/directs/week.js')

       //script(src='angular/ctrls/mainCtrl.js')

       link(rel='stylesheet' href='public/vendor/bootstrap/css/bootstrap.min.css')
       link(rel='styleSheet' href='public/css/style.css')
       title diary
   body(ng-app='app')
       div.container-fluid
           div.row#wrapper
                div.timeDiv.col-xs-1
                    - for (var i=0; i<25; i++)
                        p.timeContainer= i+'.00'


                div.diaryDiv(ng-controller='mainCtrl').col-xs-11
                    div#footer
                        button.prevWeek.btn.btn-primary Prev week
                        h1.yearText Year {{year}}
                        button.nextWeek.btn.btn-primary Next week
                    div#content()
                        div.week(week)








